* {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 16px;
  border-radius: 0px;
  margin: 0;
}

window#waybar {
  background: transparent;
}

#workspaces button {
    padding: 0 5px;
    color: @base0B;
    background: transparent;
}

#workspaces button.active {
    color: @base0D;
    background: @base05;
    border-radius: 5px;
}

#workspaces, #window {
  background-color: alpha(@base00, 0.8);
  color: @base0B;
  padding: 5px 10px;
}

#custom-menu {
  font-size: 20px;
  margin-left: 10px;
  color: @base08;
}

#clock, #backlight, #pulseaudio, #bluetooth, #network, #battery, #tray {
  background-color: alpha(@base00, 0.8);
  color: @base0B;
  padding-left: 10px;
  padding-right: 10px;
}

#clock {
    color: @base05;
    font-weight: bold;
    padding-left: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#battery {
    padding-right: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
