* {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 16px;
  /* font-weight: bold; */
  border-radius: 0px;
  margin: 0;
}

window#waybar {
  background: transparent;
  background-color: rgba(0, 0, 0, 0.5);
}

#workspaces, #window {
  background-color: rgba(60, 56, 54, 0.6);
  color: #8ec07c;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 20px;
}

#custom-menu {
  font-size: 20px;
  margin-left: 10px;
  color: #cc241d;
}

#workspaces button {
  color: #458588;
}

#workspaces button:hover {
  background: none;
  background-color: transparent;
  border: none;
  box-shadow: none;
  text-shadow: none;
  transition: none;
}

#clock, #backlight, #pulseaudio, #bluetooth, #network, #battery, #tray {
  background-color: rgba(60, 56, 54, 0.6);
  color: #8ec07c;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#backlight, #bluetooth {
  padding-right: 5px;
  margin-right: 0
}

#pulseaudio, #network {
  padding-left: 5px;
}

#clock {
  margin-right: 0;
}
