* {
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 16px;
  /* font-weight: bold; */
  border-radius: 0px;
  margin: 0;
}

window#waybar {
  background: transparent;
}

#workspaces button {
    padding: 0 5px;
    color: #8ec07c; /* Inactive text color */
    background: transparent;
}

/* How the active workspace number looks */
#workspaces button.active {
    color: #458588;
    background: #d4be98; /* The highlight background color */
    border-radius: 5px; /* Nice rounded corners for the highlight box */
}

#workspaces, #window {
  background-color: rgba(60, 56, 54, 0.8);
  color: #8ec07c;
  padding: 5px 10px;
}

#custom-menu {
  font-size: 20px;
  margin-left: 10px;
  color: #cc241d;
}

#clock, #backlight, #pulseaudio, #bluetooth, #network, #battery, #tray {
  background-color: rgba(60, 56, 54, 0.8);
  color: #8ec07c;
  padding-left: 10px;
  padding-right: 10px;
}

#clock{
    color: #d4be98;
    font-weight: bold;
    padding-left: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

#battery {
    padding-right: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#backlight, #bluetooth {
  padding-right: 5px;
  margin-right: 0
}
